.App .html {
  font-family: Arial, Helvetica, sans-serif;
}

.App .container {
  height: 575px;
  max-width: 768px;
  margin: 40px auto;
  background-image: linear-gradient(
    to top,
    #d1cece,
    #989696,
    #636262,
    #323232,
    #000000
  );
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 13px -7px #000000;
}
