.App .html {
  font-family: Arial, Helvetica, sans-serif;
}

.App .container {
  height: 575px;
  max-width: 768px;
  margin: 40px auto;
  background-image: linear-gradient(
    to top,
    #d1cece,
    #989696,
    #636262,
    #323232,
    #000000
  );
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0px 15px 13px -7px #000000;
}

@media (max-width: 768px) {
  body {
    background-color: #000;
  }

  .detail-block {
    text-align: center;
  }

  .star-city {
    text-align: center;
    position: relative;
    top: 11px;
  }

  img.current-emoji {
    position: relative;
    top: -28px;
  }

  .current-temp {
    font-size: 84px;
  }

  .list-group-item {
    background-color: #bab8b8;
  }

  .current-focus-details {
    text-align: center;
    position: relative;
    top: -64px;
  }

  .oldSearchValue {
    display: none;
  }

  /* .Footer .by-footer {
    color: #e5e5e5;
  } */
}

@media (max-width: 576px) {
  .world-cities li a {
    color: white;
    text-shadow: none;
  }

  ul.world-cities {
    font-size: 12px;
  }
}
