ul.world-cities {
  text-align: center;
  margin-top: 8px;
  top: 3px;
  padding: 0;
  list-style: none;
  position: relative;
}

.world-cities li {
  display: inline;
  margin-left: 30px;
}

.world-cities li a {
  color: black;
  font-weight: 700;
  text-decoration: none;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

.world-cities li a:hover {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-shadow: none;
}

form .form-control:focus {
  border-color: #000;
}

.press-one {
  background: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.press-one:hover {
  background: #48484a;
}

.mobile-search {
  background: #000;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.mobile-search:hover {
  background: #48484a;
}

a:link {
  text-decoration: none;
}

.units {
  position: relative;
  top: -55px;
}

.weather-temperature .active {
  cursor: default;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

.weather-temperature a {
  color: white;
}

.weather-temperature a:hover {
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
  color: #000;
}

.fahrenheit-link:inactive {
  color: #48484a;
  transition: all 0.2s ease-in-out;
  text-shadow: none;
}

.celsius-link:inactive {
  color: #48484a;
  transition: all 0.2s ease-in-out;
  text-shadow: none;
}

.detail-block {
  text-align: end;
}

.star-city {
  font-size: 58px;
  position: relative;
  top: 18px;
  text-transform: capitalize;
  color: black;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

img.current-emoji {
  margin: 0 auto;
  text-align: center;
  position: relative;
  bottom: 0px;
}

.current-focus-details {
  display: block;
  font-weight: 400;
  color: #fff;
  position: relative;
  top: 35px;
}

ul.current-details {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.25;
}

.current-temp {
  color: #000;
  font-size: 95px;
  font-weight: 600;
  line-height: 0.8;
  text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

.weather-description {
  text-transform: capitalize;
}

.press-two {
  background: #000;
  color: white;
  transition: all 0.2s ease-in-out;
  margin: 7px 0 0;
}

.press-two:hover {
  background: #48484a;
}

.group-days {
  position: relative;
  bottom: 22px;
}

.list-group {
  box-shadow: 0px 15px 39px -7px #000000;
}

.list-group-item {
  color: #000;
  background-color: #ffffff85;
}

.lows {
  opacity: 0.5;
}

footer,
footer a {
  text-align: center;
  font-size: 14px;
  margin: 30px;
  color: #7f3d2e;
  padding: 5px;
}

footer a:hover {
  text-decoration: underline;
  color: #7f3d2e;
}

.by-footer {
  margin: -31px;
  color: #000;
}

@media (max-width: 768px) {
  body {
    background-color: #000;
  }

  .detail-block {
    text-align: center;
  }

  .star-city {
    text-align: center;
    position: relative;
    top: 11px;
  }

  img.current-emoji {
    position: relative;
    top: -28px;
  }

  .current-temp {
    font-size: 84px;
  }

  .list-group-item {
    background-color: #bab8b8;
  }

  .current-focus-details {
    text-align: center;
    position: relative;
    top: -64px;
  }

  .by-footer {
    color: #e5e5e5;
  }

  .oldSearchValue {
    display: none;
  }
}

@media (max-width: 576px) {
  .world-cities li a {
    color: white;
    text-shadow: none;
  }

  ul.world-cities {
    font-size: 12px;
  }
}
